<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/stylesheet.css' />

    <title>5G drone API</title>
</head>

<body>
    <h1 class="header">5G Drone API</h1>
    <div class="video">
        <div class="mainvideo">
            <p>Camera view:</p>
            <p><%- api_connected %></p>
        </div>
        <div class="lastpicture">
            <p>Last picture:</p>
            <img id="picture">
        </div>
    </div>
</body>

</html>