<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/stylesheet.css' />

    <title>5G drone API</title>
</head>

<body style="height: 100%;">
    <h1 class="header">5G Drone API</h1>
    <!-- <div class="video"> -->
    <div class="mainvideo">
        <p>Camera view:</p>
        <canvas id="result-video" style="border: 1px solid blue;" width="800" height="600"></canvas>
            <div id="connectedbuttons">
                <div id="connectedstatus">
                    <p id="connectedlabel">Connected: <%- api_connected %></p>
                    <button id="connectbutton" onclick="connect()">Connect</button>
                </div>
                <div id="buttons">
                    <button id="take_picture" onclick="take_picture()">Take picture</button>
                    <br>
                    <button id="arm_disarm" onclick="arm_disarm()">Arm/Disarm</button>
                </div>
            </div>
            <div id="controls">
                <h2>Controls</h2>
                <div id="buttons">
                    <button class="movebutton" id="button_turnleft">Turn left</button>
                    <button class="movebutton" id="button_turnright">Turn right</button>
                    <button class="movebutton" id="button_up">Up</button>
                    <button class="movebutton" id="button_down">Down</button>
                    <button class="movebutton" id="button_forward">Forward</button>
                    <button class="movebutton" id="button_backward">Backward</button>
                    <button class="movebutton" id="button_left">Left</button>
                    <button class="movebutton" id="button_right">Right</button>
                    <button id="button_stop" onclick="stop()">Stop</button>
                    <button id="button_estop" onclick="estop()"><strong>Emergency Stop</strong></button>

                </div>
            </div>
    </div>
    <div class="lastpicture">
        <p>Last picture:</p>
        <div id="lastimg">
            <img id="picture" style="width: 400px;">
        </div>
        <h2>Drone status</h2>
        <p id="batterypercentage">Battery percentage</p>
        <p id="cpuload">CPU load</p>
        <p id="armed"></p>
        <p id="control_mode"></p>
        <p id="speed">Current speed</p>
        <p id="position">Current position</p>
        <p id="failsafe">Failsafe status</p>
    </div>
    <!-- </div> -->
</body>

<script>
    assign_button_callbacks();
    openSocket = () => {

        socket = new WebSocket("ws://10.100.0.40:9002/");
        let msg = document.getElementById("result-video");
        socket.addEventListener('open', (e) => {
            console.log("Connected to video")
        });
        socket.addEventListener('message', (e) => {
            let ctx = msg.getContext("2d");
            let image = new Image();
            image.src = URL.createObjectURL(e.data);
            console.log(image.width);
            image.addEventListener("load", (e) => {
                ctx.drawImage(image, 0, 0, 800, 600);
            });
        });
    }

    // Helper function to decode base64 image and set it as source of <img> element
    function decodeBase64Image(base64Data, imgElement) {
        const img = new Image();

        img.onload = function () {
            // Once the image has loaded, set it as the source of the <img> element
            imgElement.src = this.src;
            // console.log("set image data src")
        };

        // Set the base64-encoded image data as the source of the image
        img.src = 'data:image/jpeg;base64,' + base64Data;
    }

    window.onload = function () {
        const events = new EventSource("/events");

        events.onopen = () => {
            console.log("OPENED EVENT");
        }

        events.onmessage = (event) => {
            console.log("MESSAGE RECEIVED")
            try {
                const data = JSON.parse(event.data);
                if (data.type == "STATUS") {
                    document.getElementById("batterypercentage").innerHTML = "Battery percentage: " + data.data.battery_percentage.toString().substring(0,4);
                    document.getElementById("cpuload").innerHTML = "CPU load: " + data.data.cpu_usage.toString().substring(0, 6).substring(2, 4) + "%";
                    document.getElementById("armed").innerHTML = "Armed: " + data.data.armed;
                    document.getElementById("control_mode").innerHTML = "Control mode: " + data.data.control_mode;
                } else {
                    // decodeBase64Image(data.image, document.getElementById("result-video"));
                }
            } catch (error) {
                console.error("Received an error")
                console.error(error);
            }
        }

        openSocket();
    };

    function assign_button_callbacks() {
        var buttons = document.getElementsByClassName("movebutton");
        for (var i = 0; i < buttons.length; i++) {
            buttons[i].addEventListener("mouseup", function () {
                stop();
            });
        }
        document.getElementById("button_forward").addEventListener("mousedown", function () { forward(); });
        document.getElementById("button_backward").addEventListener("mousedown", function () { backward(); });
        document.getElementById("button_left").addEventListener("mousedown", function () { left(); });
        document.getElementById("button_right").addEventListener("mousedown", function () { right(); });
        document.getElementById("button_turnleft").addEventListener("mousedown", function () { turn_left(); });
        document.getElementById("button_turnright").addEventListener("mousedown", function () { turn_right(); });
        document.getElementById("button_up").addEventListener("mousedown", function () { up(); });
        document.getElementById("button_down").addEventListener("mousedown", function () { down(); });
    }

    function update_status() {
        // {"battery_percentage": 100.0, "cpu_usage": 0.0, "armed": false, "control_mode": "attitude", "route_setpoint": 0}}
        // console.log("updating status")
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/status", true);
        xhr.onreadystatechange = function () {
            if (this.status == 200) {
                // console.log(this.responseText);
                if (this.responseText.length > 0) {
                    var status = JSON.parse(this.responseText);
                    // console.log(status)
                    document.getElementById("batterypercentage").innerHTML = "Battery percentage: " + status.battery_percentage;
                    document.getElementById("cpuload").innerHTML = "CPU load: " + status.cpu_usage;
                    document.getElementById("armed").innerHTML = "Armed: " + status.armed;
                    document.getElementById("control_mode").innerHTML = "Control mode: " + status.control_mode;
                }
            }
        };
        xhr.send();
    }

    function send_move_request(data) {
        console.log("sending move request " + data);
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/move", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.send(data);
    }

    function turn_left() {
        console.log("turnleft");
        send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": 0.0, "left_right": 0.0, "turn_left_right": -10.0 }));
    }
    function turn_right() {
        console.log("turnright");
        send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": 0.0, "left_right": 0.0, "turn_left_right": 10.0 }));
    }
    function up() {
        console.log("up");
        send_move_request(JSON.stringify({ "up_down": 1.0, "forward_backward": 0.0, "left_right": 0.0, "turn_left_right": 0.0 }));

    }
    function down() {
        console.log("down");
        send_move_request(JSON.stringify({ "up_down": -1.0, "forward_backward": 0.0, "left_right": 0.0, "turn_left_right": 0.0 }));

    }
    function forward() {
        console.log("forward"); send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": 1.0, "left_right": 0.0, "turn_left_right": 0.0 }));

    }
    function backward() {
        console.log("backward");
        send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": -1.0, "left_right": 0.0, "turn_left_right": 0.0 }));
    }
    function left() {
        console.log("left");
        send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": 0.0, "left_right": -1.0, "turn_left_right": 0.0 }));
    }
    function right() {
        console.log("right");
        send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": 0.0, "left_right": 1.0, "turn_left_right": 0.0 }));
    }
    function stop() {
        console.log("stop");
        send_move_request(JSON.stringify({ "up_down": 0.0, "forward_backward": 0.0, "left_right": 0.0, "turn_left_right": 0.0 }));
    }

    function estop() {
        console.log("estop");
    }

    function take_picture() {
        console.log("take picture");
        var image = new Image();
        image.src = document.getElementById("result-video").toDataURL();
        image.width = 400;
        document.getElementById("lastimg").innerHTML = "";
        document.getElementById("lastimg").appendChild(image);
    }

    function arm_disarm() {
        console.log("arm/disarm");
    }

    function connect_to_video_stream() {
        console.log("Connecting to websocket")
        const video_holder = document.getElementById("result-video");
        const socket = new WebSocket('ws://10.100.0.40:9002/');

        socket.addEventListener('open', (event) => {
            console.log('Connected to WebSocket server');
        });

        socket.addEventListener('message', (event) => {
            // Assuming the received data is an ArrayBuffer or Uint8Array
            const imageData = event.data;

            // Convert the image data to a Blob
            const blob = new Blob([imageData], { type: 'image/jpeg' });

            // Generate a temporary URL for the Blob
            const imageURL = URL.createObjectURL(blob);

            // Set the src attribute of the <img> element
            video_holder.src = imageURL;
        });

        // Connection closed
        socket.addEventListener('close', (event) => {
            console.log('Disconnected from WebSocket server');
        });

        // Error occurred
        socket.addEventListener('error', (event) => {
            console.error('WebSocket error:', event.error);
        });

    }

    function connect() {
        var received = false;
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/connect", true);
        xhr.onreadystatechange = function () {
            if (this.status == 200) {
                console.log(this.responseText);
                if (this.responseText.length > 0) {
                    var status = JSON.parse(this.responseText);
                    // console.log(status)
                    document.getElementById("connectedlabel").innerHTML = "Connected: true";
                    document.getElementById("connectbutton").disabled = true;
                    // connect_to_video_stream();
                    
                }
            } else {
                console.log("error");
                document.getElementById("connectedlabel").innerHTML = "Connected: false";
                if (!received) {
                    alert("Could not connect to API!");
                    received = true;

                }
            }
        };
        xhr.send();
    }
    // window onload function die elke seconde een request doet om te kijken of er al nieuwe foto is
    // function die elke 100 ms een request doet om de status te updaten
    // button callbacks
</script>

</html>