<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/stylesheet.css' />

    <title>5G drone API</title>
</head>

<body>
    <h1 class="header">5G Drone API</h1>
    <div class="video">
        <div class="mainvideo">
            <p>Camera view:</p>
            <div id="connectedbuttons">
                <div id="connectedstatus">
                    <p>Connected: <%- api_connected %></p>
                </div>
                <div id="buttons">
                    <button id="take_picture">Take picture</button>
                    <br>
                    <button id="arm_disarm">Arm/Disarm</button>
                </div>
            </div>
            <div id="controls">
                <h2>Controls</h2>
                <div id="buttons">
                    <button id="button_turnleft">Turn left</button>
                    <button id="button_turnright">Turn right</button>
                    <button id="button_up">Up</button>
                    <button id="button_down">Down</button>
                    <button id="button_forward">Forward</button>
                    <button id="button_backward">Backward</button>
                    <button id="button_left">Left</button>
                    <button id="button_right">Right</button>
                    <button id="button_stop"><strong>Emergency Stop</strong></button>

                </div>
            </div>
        </div>
        <div class="lastpicture">
            <p>Last picture:</p>
            <img id="picture">
            <h2>Drone status</h2>
            <p id="batterypercentage">Battery percentage</p>
            <p id="cpuload">CPU load</p>
            <p id="speed">Current speed</p>
            <p id="position">Current position</p>
            <br>
            <p id="failsafe">Failsafe status</p>
        </div>
    </div>
</body>

</html>