body {
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: black;
    text-align: center;
}

.video {
    width: 100%;
}

.mainvideo {
    width: 60%;
    float: left;
    height: 500px;
    border: 1px sold blue;
}

.lastpicture {
    width: 40%;
    float: right;
    height: 400px;
    border: 1px solid red;
}